@font-face{
	font-family:'Brandon-reg';
	src:url('../assets/fonts/Brandon_reg.otf');
}

a:link {
	color:black;
}

i{
	color:black;
}

form{
	width:90%;
	margin:0 auto;
	padding-bottom: 5px;
}

.header{
	font-family: Brandon-reg;
	font-size: 1.6rem;
	font-weight: bold;
}

.black-text, .black-text:focus {
    color: #000;
}

.form-wrapper{
	width:90%;
	margin: 0 auto;
	padding-bottom:5em;
}

.button {
  width: 10rem;
}

.redirect{
	margin-top: -5px;
}

.small-writing {
  margin-left: 10px;
}

@media only screen and (min-width: 700px){
	form{
		width:50%;
	}
}

/*switch checkbox*/
.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "NO";
  text-align:center;
  line-height: 26px;
  font-size: 12px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  line-height:26px;
  text-align:center;
  font-size: 12px;
  content:"YES";
}